//
// University of Arizona colors
//

// Cochineal Red
$cochineal_red: rgb(171, 5, 32);
$cochineal_red_60w: rgb(222, 160, 148);
$cochineal_red_30w: rgb(204, 102, 94);
$cochineal_red_30b: rgb(143, 17, 36);
$cochineal_red_60b: rgb(99, 0, 11);

// Arizona Blue
$arizona_blue: rgb(12, 35, 75);
$arizona_blue_60w: rgb(123, 137, 174);
$arizona_blue_30w: rgb(57, 81, 128);
$arizona_blue_30b: rgb(0, 25, 74);
$arizona_blue_60b: rgb(0, 1, 54);

// Secondary Palette
$cactus: rgb(92, 135, 39);
$sky: rgb(132, 210, 226);
$river: rgb(7, 104, 115);
$sand: rgb(241, 158, 31);
$mesa: rgb(183, 85, 39);
$brick: rgb(74, 48, 39);

// Neutral Palette
$light_cactus: rgb(207, 224, 216);
$light_sky: rgb(200, 217, 216);
$light_river: rgb(182, 190, 193);
$light_sand: rgb(252, 225, 182);
$light_mesa: rgb(250, 231, 216);
$light_brick: rgb(230, 227, 217);

// Legacy Palette
$sage: rgb(74, 99, 78);
$silver: rgb(111, 134, 141);
$ash: rgb(51, 51, 51);
$dark_silver: rgb(73, 89, 94);
$silver_tint: rgb(238, 241, 241);
$ash_tint: rgb(247, 249, 249);

//
// University of Arizona web font stacks
//

$miloserif: MiloSerifWeb, Georgia, "Times New Roman", "DejaVu Serif", serif;
$milo: MiloWeb, Verdana, Tahoma, "DejaVu Sans", sans-serif;
$milotext: "MiloWeb-Text", Verdana, Tahoma, "DejaVu Sans", sans-serif;
$milomedium: "MiloWeb-Medium", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

